.read-more {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 15px;
    font-family: 'Montserrat', serif;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    color: #EF0008;
    height:25px;
    user-select: none;
}

.text-read-more {
    display: flex;
    align-items: flex-end;
    cursor: pointer;
}

.text-read-more svg {
    margin-left: 10px;
}